{
    "plugins": [ "joyent" ],
    "extends": [
        "eslint:recommended",
        "plugin:joyent/style",
        "plugin:joyent/lint"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
        }
    },
    "env": {
        "node": true,
        // So `Map` and `Set` are defined:
        "es6": true
    },
    "// rules": {
        "consistent-return": "off",
        "no-loop-func": "off"
    }
}
